* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #fdb4fa; }

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none; }

header {
  width: 100%;
  background-color: #58014a;
  color: rgba(255, 253, 253, 0.65); }
  header h1 {
    padding: 20px;
    font-size: 2rem;
    font-family: 'Satisfy', cursive; }

main {
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fdb4fa;
  font-family: 'Roboto', sans-serif;
  line-height: 19px; }
  main .todo, main .inprogress, main .donee {
    margin: 30px;
    border-radius: 16px;
    background-color: #f2f2f2;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start; }
    main .todo .to-do, main .todo .in-progress, main .todo .done, main .inprogress .to-do, main .inprogress .in-progress, main .inprogress .done, main .donee .to-do, main .donee .in-progress, main .donee .done {
      flex: 1; }
    main .todo h2, main .inprogress h2, main .donee h2 {
      padding: 26px 0px 60px 20px;
      font-weight: 500;
      font-size: 2rem; }
    main .todo #taskAdder, main .inprogress #taskAdder, main .donee #taskAdder {
      position: absolute;
      background-color: rgba(11, 11, 11, 0.637);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .todo #taskAdder form, main .inprogress #taskAdder form, main .donee #taskAdder form {
        text-align: end; }
      main .todo #taskAdder button, main .inprogress #taskAdder button, main .donee #taskAdder button {
        padding: 8px 16px;
        margin: 10px 0px; }
      main .todo #taskAdder textarea, main .inprogress #taskAdder textarea, main .donee #taskAdder textarea {
        display: block;
        padding: 20px;
        font-size: 1.3rem;
        line-height: 28px; }
    main .todo p, main .inprogress p, main .donee p {
      flex: 0;
      margin: 15px 20px;
      padding: 20px;
      border-radius: 16px;
      background-color: #fff; }
    main .todo .done, main .inprogress .done, main .donee .done {
      text-decoration: line-through; }
