* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; }

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none; }

header {
  width: 100%;
  color: #d2d2d2;
  background: #393939; }
  header h1 {
    padding: 20px;
    font-size: 2rem; }

main {
  display: flex;
  justify-content: space-around;
  line-height: 19px;
  height: 100vh;
  overflow: hidden; }
  main .container {
    margin: 30px;
    border-radius: 8px;
    background-color: #f2f2f2;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: solid 1px #d2d2d2;
    background: white; }
    main .container .title-todo,
    main .container .title-inprogress,
    main .container .title-done {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      color: #393939;
      background: #ebebeb; }
    main .container .to-do,
    main .container .in-progress,
    main .container .done {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      overflow-y: scroll;
      flex: 1; }
      main .container .to-do li,
      main .container .in-progress li,
      main .container .done li {
        position: relative; }
        main .container .to-do li a,
        main .container .in-progress li a,
        main .container .done li a {
          right: 0;
          top: 0;
          position: absolute; }
      main .container .to-do p,
      main .container .in-progress p,
      main .container .done p {
        margin: 24px 16px;
        padding: 20px;
        font-size: 0.9rem;
        border-radius: 8px;
        background-color: whitesmoke; }
    main .container h2 {
      padding: 16px;
      font-weight: 500;
      font-size: 1.2rem;
      width: 100%; }
    main .container .details-container {
      position: fixed;
      background: rgba(57, 57, 57, 0.6);
      width: 100%;
      margin: auto;
      left: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .container .details-container .details {
        position: relative;
        width: 100%;
        max-width: 50%;
        height: 100%;
        max-height: 50%;
        padding: 30px 30px 30px;
        background-color: #fff;
        border-radius: 8px; }
        main .container .details-container .details p {
          font-size: 1.4rem; }
    main .container .taskAdder {
      position: fixed;
      background: rgba(57, 57, 57, 0.6);
      width: 100%;
      margin: auto;
      left: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .container .taskAdder form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 30px 30px;
        background-color: #fff;
        border-radius: 8px; }
        main .container .taskAdder form label {
          font-size: 1.4rem;
          padding: 40px 0px 10px;
          color: #393939; }
        main .container .taskAdder form input {
          font-size: 1.3rem;
          padding: 10px 20px;
          border: 1px solid #999;
          border-radius: 6px;
          font-weight: 400; }
        main .container .taskAdder form textarea {
          display: block;
          padding: 10px 20px;
          font-size: 1rem;
          line-height: 28px;
          border-radius: 6px;
          border: 1px solid #999;
          font-weight: 200;
          line-height: 1.2; }
    main .container .done {
      text-decoration: line-through; }

button {
  font-size: 1rem;
  padding: 8px 16px;
  border: 1px solid #999;
  border-radius: 4px;
  transition: all 0.3s; }

.buttons {
  margin: 60px 0px 0px;
  display: flex;
  justify-content: space-between; }

.primary {
  color: #d2d2d2;
  background: #393939; }
  .primary:hover {
    cursor: pointer;
    color: #ebebeb;
    background-color: #1f1f1f; }

.secondary {
  color: #393939;
  background-color: white; }
  .secondary:hover {
    cursor: pointer;
    color: #060606;
    background-color: #e6e6e6; }

i {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  color: #393939;
  transition: all 0.3s; }
  i:hover {
    color: #525252; }
